*,
*::before,
*::after
  box-sizing border-box
  padding 0
  margin 0

body
  min-height 100vh
  scroll-behavior smooth
  font-family 'Fira Sans'
  font-weight 400
  font-size 16px
  line-height 28px

ul, li
  display block

li
  list-style-type none
a
  text-decoration none
  color inherit

img
  max-width 100%
  display block

h1, h2, h3, h4, h5, h6
  font-style normal
  font-weight 700

input,
button,
textarea,
select
  font inherit